@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.slide-in {
  animation: slideIn 0.25s ease forwards;
}

* {
  scroll-behavior: smooth;
}